body {
    background-color: var(--bg-color-black);
    font-family: var(--font-dm-sans);
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: var(--padding-small);
    width: var(--margin-left);
  }
  
  .sidebar__navegation {
    background-color: var(--bg-color-dark);
    border-radius: var(--border-radius);
    padding: var(--padding-medium) 0 0 var(--padding-medium);
  }
  
  .sidebar__navegation .logo {
    background-color: var(--bg-color-dark);
    display: flex;
    border-radius: var(--border-radius);
    padding: var(--padding-medium) 0 0 var(--padding-medium);
  }
  
  .sidebar__navegation .logo img {
    width: 80px;
  }
  
  .sidebar nav ul {
    margin-top: var(--spacing-m);
    padding: 0 var(--spacing-m) var(--spacing-s) var(--spacing-m);
  }
  
  .sidebar ul li {
    padding: var(--spacing-s) 0;
  }
  
  .sidebar nav ul li a {
    color: var(--color-text-gray-light);
    text-decoration: none;
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-regular);
  }
  
  .library {
    background-color: var(--bg-color-dark);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: var(--spacing-xxs) var(--spacing-xs);
    color: var(--color-text-gray-light);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-regular);
    margin-top: var(--spacing-s);
  }
  
  .library .library__content {
    display: flex;
    justify-content: space-between;
  }
  
  .library .library__button {
    display: flex;
    margin-right: var(--spacing-s);
    color: var(--color-text-gray-light);
    background-color: transparent;
    border: 0;
    font-size: var(--font-size-regular);
    font-weight: var(--font-weight-bold);
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: var(--spacing-m) var(--spacing-s);
  }
  
  .library .library__button .fa-solid {
    font-size: var(--font-size-large);
    margin-right: var(--spacing-s);
    padding-right: var(--spacing-xs);
  }
  
  .library .library__content .fa-plus {
    margin: var(--spacing-m);
  }
  
  .section-playlist {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: var(--spacing-m);
    background-color: var(--bg-color-medium);
    color: var(--color-text-gray-light);
    margin: var(--spacing-xs) 0;
    padding: var(--padding-medium);
    font-weight: var(--font-weight-semibold);
    border-radius: var(--border-radius);
  }
  
  .section-playlist .section-playlist__content {
    display: flex;
    flex-direction: column;
  }
  
  .section-playlist__content .text {
    padding-bottom: 14px;
    color: var(--color-text-light);
  }
  
  .section-playlist .title {
    font-weight: var(--font-weight-bold);
  }
  
  .section-playlist .subtitle {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-small);
  }
  
  .section-playlist__content .section-playlist__button {
    display: flex;
    justify-content: center;
    background-color: var(--color-text-light);
    color: var(--color-text-dark);
    border-radius: var(--border-radius-pill);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    text-transform: none;
    padding: var(--spacing-s);
    margin-top: var(--padding-small);
    border: 0;
    width: 113px;
  }
  
  .sidebar .cookies {
    margin: var(--spacing-l) var(--spacing-m);
  }
  
  .sidebar .cookies a {
    color: var(--color-text-gray-light);
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-small);
    text-decoration: none;
  }
  
  .sidebar .cookies a:hover {
    text-decoration: underline;
  }
  
  .languages .languages__button {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--border-color-gray);
    color: var(--color-text-light);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    width: 170px;
    margin: var(--spacing-xs);
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-pill);
  }
  
  .footer__content {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--footer-height);
    align-items: center;
    color: var(--color-text-light);
    background: var(--gradient-footer);
  }
  
  .footer__content .text {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
    font-size: var(--font-size-regular);
    margin: var(--spacing-m);
  }
  
  .footer__button {
    display: flex;
    justify-content: center;
    background-color: var(--color-text-light);
    color: var(--color-text-dark);
    border-radius: var(--border-radius-pill);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-bold);
    text-decoration: none;
    text-transform: none;
    padding: var(--spacing-s);
    margin-right: var(--spacing-m);
    border: 0;
    width: 150px;
  }